.inte__dot {
	background-color: var(--grey-color);
	border-radius: 50%;
	display: block;
	height: 17px;
	width: 17px;
}
.inte__dot--active{
	background-color: var(--xtra-dark-color);
}
.inte__dot--complete{
	background-color:var(--color-green);
}