/*Form and Elements*/
.inte-form__item + .inte-form__item {
	margin-top: 25px;
}
.inte-formElement {
	border: 1px solid var(--dark-med-color);
	border-radius: 15px;
	padding: 20px 30px;
	width: 100%;
	position: relative;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: var(--dark-med-color);
	cursor: pointer;
}
.inte-form__itemHelp {
	font-size: 14px;
	color: var(--greydark-color);
	margin-top: 10px;
	display: block;
}
.inte-select{
	-moz-appearance: none;
	background-image: url('../images/chevron-down.png');
	background-repeat: no-repeat;
	background-position: calc(100% - 30px) center;
}
.inte-form__checkbox {
	position: relative;
}
.inte-form__checkbox .inte__checkoxFake {
	position: absolute;
	left: 0;
	height: 20px;
	width: 20px;
	margin: 0;
	z-index: 1;
	cursor: pointer;
	opacity: 0;
}
.inte__checkboxWrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.inte__checkboxWrap .inte__checkbox {
	height: 22px;
	width: 22px;
	display: block;
	background: transparent radial-gradient(closest-side at 50% 50%, #ECEBFF 0%, #E7E6FA 28%, #DAD9EB 51%, #C3C3D4 100%) 0% 0% no-repeat padding-box;
	border-radius: 7px;
	margin-right: 10px;
	position: relative;
}
.inte-form__checkbox:hover .inte__checkboxWrap .inte__checkbox,
.inte-form__checkbox .inte__checkoxFake:checked + .inte__checkboxWrap > .inte__checkbox {
	background: transparent radial-gradient(closest-side at 50% 50%, #D2D0FC 0%, #D1CFF6 28%, #C9C6EE 51%, #B0B0D2 100%) 0% 0% no-repeat padding-box;
}
.inte-form__checkbox .inte__checkoxFake:checked + .inte__checkboxWrap > .inte__checkbox::after {
	content: "";
	height: 7px;
	width: 11px;
	border-left: 2px solid var(--dark-med-color);
	border-bottom: 2px solid var(--dark-med-color);
	display: block;
	transform: rotate(-47deg);
	position: absolute;
	top: 5px;
	left: 4px;
}
.inte__checkboxWrap label {
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	color: var(--dark-med-color);
}
/*Form and Elements end*/